.reset-password-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: calc(100vh - 250px); 
    margin: 3rem auto;

    h2{
        font-size: 1.25rem;
        margin-top: 5rem;
    }

    span{
        font-size: 0.8rem;
        color: grey;
    }
}