.reset-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    min-height: calc(100vh - 250px); 
   margin-left: 36%;

    h2{
        font-size: 1.25rem;
        margin-top: 5rem;
    }

    span{
        font-size: 0.8rem;
        color: grey;
    }
}

@media (min-width: 1500px) and (max-width: 2000px){
    .reset-password-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        min-height: calc(100vh - 250px); 
       margin-left: 40%;
    
        h2{
            font-size: 1.25rem;
            margin-top: -20%;
        }
    
        span{
            font-size: 0.8rem;
            color: grey;
        }
    }
}