html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
}

.logo {
  width: 10%;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5.9%;
}

.links-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  gap: 2rem;
  padding-top: 2rem;
}

.nav-links2 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-top: 2rem;
  gap: 1rem;
  padding-right: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-link:hover {
  text-decoration: none;
  color: black;
}


@media (min-width: 1200px) and (max-width: 1700px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navigation-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex-grow: 1;
  }
  
  .logo {
    width: 10%;
  }
  
  .logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5%;
  }
  
  .links-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .nav-links1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    gap: 2rem;
    padding-top: 2rem;
  }
  
  .nav-links2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 2rem;
    gap: 1rem;
    padding-right: 2rem;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer-link:hover {
    text-decoration: none;
    color: black;
  }
  
}
