.navigation {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 100%;
    grid-column: 1 / span 1;
    padding: 25px;
  }

  .nav-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3 / span 7; /* Updated grid-column value to span 7 columns */
    
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .sign-in-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 11 / span 2; /* Updated grid-column value to span 2 columns */
    
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}
