.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: calc(100vh - 250px); /* Adjust the value as needed */
    margin: 2rem auto; /* Added margin to center the form */
    

    h2{
        margin: 40px 0px -10px 0;
        font-size: 1.25rem;
    }

    .buttons-container{
        display: flex;
        justify-content: space-between;
        
    }

    p{
        cursor: pointer;
        
    }

    p:hover{
        transform: scale(1.02);
    }
}