.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: calc(100vh - 250px);
    margin: 2rem auto;
    

    h2{
        margin: 40px 0px -10px 0;
        font-size: 1.25rem;
    }
}